html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-second;
  font-weight: 500;
  background-color: transparent;
}


.header {
  font-size: 5.2rem;
  margin: 3rem auto;
  text-align: center;
}

section{
   display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction:column;
  margin-right:5rem;
  align-items: center;
}

.enter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: 1rem auto;
}
#enter-area {
  width: 30vw;
  height: 5vh;
  font-size: 2.5rem;
  margin: 3rem auto;
}
.submit-button {
  color: rgb(224, 54, 82);
  font-size: 2rem;
  border-radius: 3rem;
  padding:1.8%;
  margin-top: -2rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:20vw;
  height:15vh;
}

